<!-- Local rules -->

<!-- Modify it at your will. -->
<!-- Copyright (C) 2015-2019, Wazuh Inc. -->

<group name="local,syslog,">
  <rule id="100050" level="12">
    <field name="win.system.eventID">^4104$</field>
    <description>Powershell command run $(win.eventdata.data)</description>
  </rule>
  <rule id="100050" level="12">
    <field name="win.system.eventID">^4104$</field>
    <description>Powershell command run $(win.eventdata.data)</description>
  </rule>
</group>
