<!-- Local Decoders -->

<!-- Modify it at your will. -->

<!--
  - Allowed static fields:
  - location   - where the log came from (only on FTS)
  - srcuser    - extracts the source username
  - dstuser    - extracts the destination (target) username
  - user       - an alias to dstuser (only one of the two can be used)
  - srcip      - source ip
  - dstip      - dst ip
  - srcport    - source port
  - dstport    - destination port
  - protocol   - protocol
  - id         - event id
  - url        - url of the event
  - action     - event action (deny, drop, accept, etc)
  - status     - event status (success, failure, etc)
  - extra_data - Any extra data
-->

<decoder name="auditd">
  <prematch>type=SYSCALL</prematch>
</decoder>

<decoder name="auditd-syscall">
  <parent>auditd</parent>
  <regex>type=SYSCALL msg=audit(\S+): arch=\S+ syscall=\S+ success=\S+ exit=\S+ a0=\S+ a1=\S+ a2=\S+ a3=\S+ items=\S+ ppid=(\d+) pid=(\d+) auid=(\S+) uid=\S+ gid=\S+ euid=\S+ suid=\S+ fsuid=\S+ egid=\S+ sgid=\S+ fsgid=\S+ tty=\S+ ses=\S+ comm=\S+ exe="(\S+)"</regex>
  <order>timestamp, ppid, pid, auid, exe</order>
</decoder>

<decoder name="auditd-execve">
  <prematch>type=EXECVE</prematch>
</decoder>

<decoder name="auditd-execve-args">
  <parent>auditd-execve</parent>
  <regex>msg=audit(\S+): argc=\d+ (.*)</regex>
  <plugin_decoder order="command">AUDIT_EXECVE</plugin_decoder>
</decoder>
